{
    "extends": "./node_modules/@plone/volto/.eslintrc",
    "settings": {
        "import/resolver": {
            "alias": {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".json"
                ],
                "map": [
                    [
                        "@plone/volto",
                        "@plone/volto/src"
                    ],
                    [
                        "@package",
                        "./src"
                    ],
                    [
                        "~",
                        "./src"
                    ]
                ]
            },
            "babel-plugin-root-import": {
                "rootPathSuffix": "src"
            }
        }
    }
}