/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element specify theme name below */

/* Global */
@site        : 'energyunion';
@reset       : 'energyunion';

/* Elements */
@button      : 'energyunion';
@container   : 'energyunion';
@divider     : 'energyunion';
@flag        : 'energyunion';
@header      : 'energyunion';
@icon        : 'energyunion';
@image       : 'energyunion';
@input       : 'energyunion';
@label       : 'energyunion';
@list        : 'energyunion';
@loader      : 'energyunion';
@placeholder : 'energyunion';
@rail        : 'energyunion';
@reveal      : 'energyunion';
@segment     : 'energyunion';
@step        : 'energyunion';

/* Collections */
@breadcrumb  : 'energyunion';
@form        : 'energyunion';
@grid        : 'energyunion';
@menu        : 'energyunion';
@message     : 'energyunion';
@table       : 'energyunion';

/* Modules */
@accordion   : 'energyunion';
@checkbox    : 'energyunion';
@dimmer      : 'energyunion';
@dropdown    : 'energyunion';
@embed       : 'energyunion';
@modal       : 'energyunion';
@nag         : 'energyunion';
@popup       : 'energyunion';
@progress    : 'energyunion';
@rating      : 'energyunion';
@search      : 'energyunion';
@shape       : 'energyunion';
@sidebar     : 'energyunion';
@sticky      : 'energyunion';
@tab         : 'energyunion';
@transition  : 'energyunion';

/* Views */
@ad          : 'energyunion';
@card        : 'energyunion';
@comment     : 'energyunion';
@feed        : 'energyunion';
@item        : 'energyunion';
@statistic   : 'energyunion';

/* Extras */
@main        : 'pastanaga';
@custom      : 'pastanaga';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
/* @themesFolder : '../../node_modules/@plone/volto/theme/themes'; */

@themesFolder: './themes';


/* Path to site override folder */
@siteFolder  : "../../theme";

/*******************************
         Import Theme
*******************************/

/*@import (multiple) "~semantic-ui-less/theme.less"; */
@import (multiple) "./theme.less";
@fontPath : "../../@{theme}/assets/fonts";

/* End Config */
